# Byte-compiled / optimized / DLL files
__pycache__/
venv/
.idea/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/teste.lp
/teste_new.lp
/buildnetworkDC.py
/ddip_ex2.py
/ddip_ex3.py
/gen_hpf.py
/m1b_formulations.py
/m1b_main.py
/m1b_options.py
/model_py.lp
/options.py
/results/
/temp104.py
/model_py.ilp
/model_py.lp
/model_py_1.lp
/model_py_2.lp
/model_py_3.lp
/model_py_4.lp
/model_py_5.lp
/model_py_6.lp
/model_py_7.lp
/model_py_8.lp
/model_py_9.lp
/model_py_10.lp
/model_py_11.lp
/model_py_12.lp
/model_py_13.lp
/model_py_14.lp
/model_py_15.lp
/model_py_16.lp
/model_py_17.lp
/model_py_18.lp
/model_py_19.lp
/model_py_20.lp
/model_py_21.lp
/model_py_22.lp
/model_py_23.lp
/model_py_24.lp
/tviag.txt
/teste_py.ilp
/test_1.py
/test_2.py
*.png
tviag1.txt
temp111.py
ex.py
ddip_formulations_blk.py
ddip_1blk_ccb.py
ddip_blk_cab.py
ddip_blk_ccb.py
ddip_blk_ccb_f.py
ddip_ex5.py
ddip_formulations.py
ddip_blk_cab.py
